@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        if (NavigationManager.Uri == NavigationManager.BaseUri)
        {
            NavigationManager.NavigateTo("/products");
        }
    }

}