@using DeveloperCourse.SecondTask.Market.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthStateProvider AuthStateProvider

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    #region Ovveriden Methods
    
    protected override void OnParametersSet()
    {
        AuthStateProvider.AuthenticationStateChanged += (state) =>
        {
            StateHasChanged();
        };
        
        base.OnParametersSet();
    }
    
    protected override void OnInitialized()
    {
        if (NavigationManager.Uri == NavigationManager.BaseUri)
        {
            NavigationManager.NavigateTo("/products");
        }
    }
    
    #endregion
    
}